body{
	Color: #003c28;
	background-color: #fff7ed;
	font-size: 1rem;
}

h1 {
	margin: 1rem;
	text-align: center
}

h2 {
	margin: 2rem;
}

h3{
	margin: 2rem;
	text-align:center;
}

li{
	font-size: 1rem;
}

.UlSpacing{
	margin: 1rem
}

li.ArialBlack{
	font-family: "Arial Black", Gadget, sans-serif;
}

li.ArialBody{
	  font-family: "Arial Body";
}

li.HelveticaHeader{
	font-family: "Helvetica Header";
}


li.HelveticaBody{
	font-family: "Helvetica Body";
}


li.TimesNewRomanHeader{
	font-family: "Times New Roman Header";
}


li.TimesNewRoman{
	font-family: "Times New Roman";
}


li.TimesHeader{
	font-family: "Times Header";
}

li.TimesBodyCopy{
	font-family: "Times Body Copy";
}

li.CourierNewHeader{
	font-family: "Courier New Header";
}

li.CourierNew{
	font-family: "Courier New";
}

li.CourierHeader{
	font-family: "Courier Header";
}

li.CourierBodyCopy{
	font-family: "Courier Body Copy";
}


li.VerdanaHeader{
	font-family: "Verdana Header";
}

li.Verdana{
	font-family: "Verdana";
}

li.GeorgiaHeader{
	font-family: "Georgia Header";
}

li.Georgia{
	font-family: "Georgia";
}

li.PalatinoHeader{
	font-family: "Palatino Header";
}

li.Palatino{
	font-family: Palatino
}

li.GaramondHeader{
	font-family: "Garamond Header";
}

li.Garamond{
	font-family: "Garamond";
}

li.BookmanHeader{
	font-family: "Bookman Header";
}

li.Bookman{
	font-family: "Bookman";
}

li.ComicSansMsHeader{
	font-family: "Comic";
}

li.ComicSansMs{
	font-family: "Comic Sans MS";
}

li.TrebuchetMS{
	font-family: "Trebuchet MS";
}

li.Impact{
	font-family: "Impact"
}

figure{
	margin: 3rem;
}

form{
	margin: 3rem;
}

#ParalaxScrolling{
		background: linear-gradient(rgba(255,255,255,1.5), transparent), url('../../assets/images/Glitch glow gif by Erica Anderson.gif') 50% 0 repeat fixed;
	min-height: 300px;
	padding: 40px;
}

.testImg{
	text-align:center;
}